Repository iamJpRowan/cortex-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, node scripts/validate-transitions.js, node scripts/validate-inline-styles.js, stylelint --fix, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": ["prettier --write"],
  "*.{ts,tsx}": [
    "eslint --fix",
    "node scripts/validate-design-tokens.js",
    "node scripts/validate-accessibility.js",
    "node scripts/validate-transitions.js",
    "node scripts/validate-inline-styles.js"
  ],
  "*.css": ["prettier --write", "stylelint --fix", "node scripts/validate-transitions.js"],
  "**/*.{ts,tsx}": ["bash -c 'npm run type-check'"]
}

feat(permissions): phase 7 shared file-backed config watcher
  docs/backlog/tool-permission-system.md
  docs/development/README.md
  docs/development/file-backed-config-watcher.md
  src/main/index.ts
  src/main/ipc/settings.ts
  src/main/services/modes/index.ts
  src/main/services/modes/registry.ts
  src/main/services/settings.ts
  src/main/services/user-config-watcher.ts
  src/preload/index.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/SettingsView.tsx
  src/renderer/src/types/api.d.ts
Due: prettier --write, eslint --fix, node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, node scripts/validate-transitions.js, node scripts/validate-inline-styles.js, bash -c 'npm run type-check'

docs(architecture): split knowledge-graphs concept and add connections backlog
  docs/development/architecture/README.md
  docs/development/architecture/connections.md
  docs/development/architecture/knowledge-graphs.md
  docs/development/feature-guides/adding-a-tool.md
  docs/product/README.md
  docs/product/backlog/README.md
  docs/product/backlog/TEMPLATE.md
  docs/product/backlog/connections-foundation.md
  docs/product/backlog/custom-agents.md
  docs/product/backlog/defining-graph-node-types.md
  docs/product/backlog/loading-custom-connection-types.md
  docs/product/backlog/local-folder-connection-type.md
  docs/product/backlog/multi-knowledge-graphs.md
  docs/product/backlog/neo4j-enterprise-upgrade.md
  docs/product/backlog/tool-permission-system.md
  docs/product/themes/README.md
  docs/product/themes/connections.md
  docs/product/themes/extensions.md
  docs/product/themes/knowledge-graphs.md
  docs/user/concepts.md
Due: none

docs: agent workflows, backlog templates, runner script
  .gitignore
  AGENTS.md
  docs/development/agents/README.md
  docs/development/agents/decompose-backlog-item.md
  docs/development/agents/design-new-features.md
  docs/development/agents/how-we-work.md
  docs/development/agents/plan-goal.md
  docs/development/agents/refine-backlog-item.md
  docs/development/agents/roadmap-review.md
  docs/development/agents/work-backlog-item.md
  docs/product/README.md
  docs/product/backlog/README.md
  docs/product/backlog/TEMPLATE.md
  docs/product/backlog/connections-foundation.md
  docs/product/backlog/diff-viewer.md
  docs/product/backlog/local-folder-connection-type.md
  docs/product/backlog/markdown-viewer-editor.md
  docs/product/themes/README.md
  docs/product/themes/connections.md
  scripts/runner.sh
  src/renderer/src/lib/user-docs.generated.ts
Due: prettier --write, eslint --fix, node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, node scripts/validate-transitions.js, node scripts/validate-inline-styles.js, bash -c 'npm run type-check'

chore: initialize Beads (bd) issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
Due: prettier --write

feat(agents): add graph scope and eight permission categories
  docs/development/feature-guides/adding-a-tool.md
  docs/product/backlog/custom-agents.md
  docs/product/backlog/tool-permission-system.md
  src/main/services/llm/tools/builtin/neo4j/tools.ts
  src/main/services/llm/tools/definition-types.ts
  src/main/services/modes/builtins.ts
  src/main/services/modes/types.ts
  src/renderer/src/components/SettingsView.tsx
Due: prettier --write, eslint --fix, node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, node scripts/validate-transitions.js, node scripts/validate-inline-styles.js, bash -c 'npm run type-check'

docs(backlog): link tool-permission-system Phase 8 to Beads epic cortex-app-8an
  docs/product/backlog/tool-permission-system.md
Due: none

fix(runner): prevent silent exit, require deps, harden jq pipelines
  scripts/runner.sh
Due: none

chore(agents): include beads issue state in git via export script and workflow
  .beads/.gitignore
  .beads/dolt-monitor.pid.lock
  .beads/issues.jsonl
  AGENTS.md
  scripts/beads-export-for-commit.sh
Due: none

chore(agents): make runner robust — unclaim on fail, max retries, visibility
  .gitignore
  scripts/runner.sh
Due: none

feat(llm): wire conversation mode into getToolsForAgent and executor cache
  .beads/issues.jsonl
  docs/product/README.md
  docs/product/backlog/README.md
  docs/product/backlog/tool-permission-system.md
  docs/product/devlogs/2026-03-08-tool-permission-system-phase-8.md
  src/main/ipc/llm.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/tools/permission-resolver.ts
  src/main/services/llm/tools/registry.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/SettingsExpandableCard.tsx
  src/renderer/src/components/SettingsView.tsx
  src/shared/types/llm.ts
Due: prettier --write, eslint --fix, node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, node scripts/validate-transitions.js, node scripts/validate-inline-styles.js, bash -c 'npm run type-check'

docs(backlog): decompose tool permission phase 9 into beads and add guardrail backlog
  .beads/issues.jsonl
  docs/product/backlog/archive/bounded-tool-results-and-chat-ui-stability.md
  docs/product/backlog/content-and-token-guardrail-confirmations.md
  docs/product/backlog/tool-permission-system.md
Due: none

feat(agents): add branch-per-backlog, per-bead commit, review handoff with auto-PR
  docs/development/agents/README.md
  docs/development/agents/decompose-backlog-item.md
  docs/development/agents/how-we-work.md
  docs/development/agents/set-backlog-item-ready-for-review.md
  docs/development/agents/work-backlog-item.md
  docs/product/backlog/TEMPLATE.md
  docs/product/devlogs/README.md
  scripts/runner.sh
Due: none

docs(backlog): skip Phase 10 (Audit & History) for tool permission system
  docs/product/backlog/tool-permission-system.md
Due: none

feat(permissions): implement Phase 9 runtime approval flow for ask tools
  .beads/issues.jsonl
  docs/development/agents/README.md
  docs/product/backlog/connections-foundation.md
  docs/product/backlog/tool-permission-system.md
  docs/product/devlogs/2026-03-09-tool-permission-system-phase-9.md
  src/main/ipc/llm.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/tools/ask-interceptor.ts
  src/preload/index.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ConversationList.tsx
  src/renderer/src/types/api.d.ts
  src/shared/types/index.ts
  src/shared/types/llm.ts
Due: prettier --write, eslint --fix, node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, node scripts/validate-transitions.js, node scripts/validate-inline-styles.js, bash -c 'npm run type-check'

chore(beads): close Phase 9 beads and set epic ready_to_test
  .beads/issues.jsonl
Due: none

feat(runner): add Ollama as default backend with configurable model
  scripts/runner.sh
Due: none

fix(agents): keep backlog ready-for-review update on same branch as implementation
  docs/development/agents/set-backlog-item-ready-for-review.md
  scripts/runner.sh
Due: none

docs(backlog): set tool-permission-system ready for review with review summary
  docs/product/backlog/tool-permission-system.md
Due: none

feat(agents): phase-based review, runner overhaul, and bead-reset tooling
   /Users/jprowan/Repos/cortex-app/docs/product/themes/database-knowledge-graphs.md
  .beads/issues.jsonl
  docs/development/agents/README.md
  docs/development/agents/create-pr-message.md
  docs/development/agents/decompose-backlog-item.md
  docs/development/agents/how-we-work.md
  docs/development/agents/refine-backlog-item.md
  docs/development/agents/set-backlog-item-ready-for-review.md
  docs/development/agents/work-backlog-item.md
  docs/product/backlog/TEMPLATE.md
  docs/product/backlog/tool-permission-system.md
  docs/product/devlogs/README.md
  scripts/bead-reset.sh
  scripts/runner.sh
Due: none

docs(backlog): connected obsidian
  .gitignore
  docs/product/backlog/loading-custom-connection-types.md
  docs/product/backlog/local-folder-connection-type.md
Due: none

doc(backlog): Updated format for backlog items
  docs/development/agents/README.md
  docs/development/agents/backlog-grooming.md
  docs/development/agents/create-pr-message.md
  docs/development/agents/decompose-backlog-item.md
  docs/development/agents/defining-core-concepts.md
  docs/development/agents/docs-cleanup.md
  docs/development/agents/how-we-work.md
  docs/development/agents/plan-goal.md
  docs/development/agents/refine-backlog-item.md
  docs/development/agents/runner-design.md
  docs/development/agents/work-backlog-item.md
  docs/product/backlog/README.md
  docs/product/backlog/TEMPLATE.md
  docs/product/backlog/TEMPLATE.story.md
  docs/product/backlog/TEMPLATE.task.md
  docs/product/backlog/migrate-dev-workflow-to-skills/build-skills.story.md
  docs/product/backlog/migrate-dev-workflow-to-skills/migrate-dev-workflow-to-skills.story.md
  docs/product/backlog/migrate-dev-workflow-to-skills/new-backlog-structure.story.md.md
Due: none

chore: remove beads/dolt issue tracking integration
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
  scripts/bead-reset.sh
  scripts/beads-export-for-commit.sh
  scripts/runner.sh
Due: prettier --write

chore: remove build-product-docs script and generated content
  docs/product/README.md
  docs/product/backlog/README.md
  docs/product/backlog/migrate-dev-workflow-to-skills/migrate-dev-workflow-to-skills.story.md
  docs/product/themes/README.md
  docs/product/themes/chat-ai.md
  docs/product/themes/configuration-extensibility.md
  docs/product/themes/connections.md
  docs/product/themes/extensions.md
  docs/product/themes/knowledge-graphs.md
  docs/product/themes/ui-features.md
  package.json
  scripts/build-product-docs.js
Due: prettier --write

docs(backlog): adopt story.md format and flat-file structure
  .claude/skills/commit/SKILL.md
  .claude/skills/prepare-to-commit/SKILL.md
  docs/development/agents/README.md
  docs/development/agents/commit.md
  docs/development/agents/decompose-backlog-item.md
  docs/development/agents/how-we-work.md
  docs/development/agents/prepare-to-commit.md
  docs/development/agents/work-backlog-item.md
  docs/product/README.md
  docs/product/backlog/TEMPLATE.story.md
  docs/product/backlog/archive/new-backlog-structure.story.md.md
  docs/product/backlog/connections-foundation.story.md
  docs/product/backlog/diff-viewer.story.md
  docs/product/backlog/local-folder-connection-type.story.md
  docs/product/backlog/markdown-viewer-editor.story.md
  docs/product/backlog/migrate-dev-workflow-to-skills/build-skills.story.md
  docs/product/backlog/migrate-dev-workflow-to-skills/migrate-dev-workflow-to-skills.story.md
Due: none

docs(backlog): adopt story.md format, add CLAUDE.md, fix broken links
  CLAUDE.md
  docs/development/agents/defining-core-concepts.md
  docs/development/agents/how-we-work.md
  docs/development/architecture/connections.md
  docs/development/architecture/file-backed-config-watcher.md
  docs/development/architecture/knowledge-graphs.md
  docs/development/feature-guides/adding-a-tool.md
  docs/product/README.md
  docs/product/backlog/TEMPLATE.story.md
  docs/product/backlog/archive/bounded-tool-results-and-chat-ui-stability.md
  docs/product/backlog/archive/chat-interface-mvp.md
  docs/product/backlog/archive/declarative-tool-definitions.md
  docs/product/backlog/configuration-system.md
  docs/product/backlog/connections-foundation.story.md
  docs/product/backlog/content-and-token-guardrail-confirmations.md
  docs/product/backlog/custom-agents.md
  docs/product/backlog/deep-agents-adoption.md
  docs/product/backlog/diff-viewer.story.md
  docs/product/backlog/execution-trace-persistence.md
  docs/product/backlog/llm-tool-hallucination-guardrails.md
  docs/product/backlog/local-folder-connection-type.story.md
  docs/product/backlog/markdown-viewer-editor.story.md
  docs/product/backlog/sub-agent-delegation.md
  docs/product/backlog/tool-permission-runtime-approval.story.md
  docs/product/backlog/tool-permission-system.story.md
  docs/product/devlogs/2025-01-31-custom-agents-design.md
  docs/product/devlogs/2026-02-16-tool-permission-system-phase-1.md
  docs/product/devlogs/2026-02-22-bounded-tool-results.md
  docs/product/themes/chat-ai.md
  docs/product/themes/configuration-extensibility.md
  docs/product/themes/connections.md
  docs/product/themes/extensions.md
  docs/product/themes/knowledge-graphs.md
  docs/product/themes/ui-features.md
Due: none

docs(backlog): add agent-layer-rebuild story with SDK migration plan
  docs/product/backlog/agent-layer-rebuild.md
Due: none

docs(backlog): introduce new status system and work-story skill story
  docs/agents/README.md
  docs/agents/decompose-backlog-item.md
  docs/agents/refine-backlog-item.md
  docs/agents/work-backlog-item.md
  docs/product/backlog/TEMPLATE.story.md
  docs/product/backlog/create-skills-for-working-stories.story.md
Due: none

docs(agents): set up story tasks and devlog for create-skills-for-working-stories
  docs/product/backlog/create-skills-for-working-stories.story.md
  docs/product/devlogs/2026-03-17-create-skills-for-working-stories.md
Due: none

feat(agents): add /refine-story command
  .claude/commands/refine-story.md
  docs/product/backlog/create-skills-for-working-stories.story.md
Due: none

feat(agents): add /work-story command
  .claude/commands/work-story.md
  docs/product/backlog/create-skills-for-working-stories.story.md
Due: none

feat(agents): add /work-task command
  .claude/commands/work-task.md
  docs/product/backlog/create-skills-for-working-stories.story.md
Due: none

docs(agents): mark create-skills-for-working-stories ready to review
  docs/product/backlog/create-skills-for-working-stories.story.md
  docs/product/devlogs/2026-03-17-create-skills-for-working-stories.md
Due: none

docs(agents): register /refine-story, /work-story, /work-task in README
  docs/agents/README.md
Due: none

feat(agents): refine work-story workflow and register command docs
  docs/agents/README.md
  docs/agents/commands/refine-story.md
  docs/agents/commands/work-story.md
  docs/agents/commands/work-task.md
Due: none

feat(agents): add /merge-story command
  .claude/commands/merge-story.md
  docs/agents/README.md
  docs/agents/commands/merge-story.md
Due: none
