Repository iamJpRowan/cortex-app: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "node scripts/validate-design-tokens.js",
    "node scripts/validate-accessibility.js"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

docs: add LangChain integration and related backlog items
  docs/backlog/README.md
  docs/backlog/chat-interface.md
  docs/backlog/configuration-system.md
  docs/backlog/langchain-integration.md
  docs/backlog/plugin-extensibility-framework.md
  docs/backlog/tool-permission-system.md
Due: none

docs: update architecture documentation for clarity and accuracy
  docs/architecture/README.md
  docs/architecture/data-flow.md
  docs/architecture/deployment.md
  docs/architecture/principles.md
  docs/architecture/technical-stack.md
  docs/backlog/README.md
  docs/development/guardrails.md
  docs/development/patterns.md
Due: none

feat: implement Ollama connection integration
  docs/backlog/README.md
  docs/development/setup.md
  package-lock.json
  package.json
  src/main/index.ts
  src/main/ipc/test.ts
  src/main/services/ollama.ts
  src/preload/index.ts
  src/renderer/src/components/TestPanel.tsx
  src/renderer/src/types/api.d.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat: Integrate LangChain/LangGraph for stateful LLM agents with tool support
  docs/backlog/README.md
  docs/backlog/deep-agents-adoption.md
  docs/backlog/langchain-integration.md
  docs/devlogs/2025-01-21-langchain-integration.md
  electron-builder.config.js
  package-lock.json
  package.json
  src/main/config/defaults.ts
  src/main/index.ts
  src/main/ipc/llm.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/index.ts
  src/main/services/llm/state.ts
  src/main/services/llm/tools/builtin/echo/echo.tool.ts
  src/main/services/llm/tools/builtin/index.ts
  src/main/services/llm/tools/builtin/neo4j/count-nodes.tool.ts
  src/main/services/llm/tools/index.ts
  src/main/services/llm/tools/registry.ts
  src/preload/index.ts
  src/renderer/src/components/TestPanel.tsx
  src/renderer/src/types/api.d.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

docs: Establish UI layout framework and design documentation structure
  docs/backlog/README.md
  docs/backlog/basic-layout-structure.md
  docs/backlog/component-composition-system.md
  docs/backlog/drag-and-drop-system.md
  docs/backlog/ui-layout-framework.md
  docs/design/README.md
  docs/design/accessibility.md
  docs/design/design-tokens.md
  docs/design/terminology.md
  docs/design/ui-guide.md
  docs/development/README.md
  docs/development/component-lifecycle.md
Due: none

feat: implement basic layout structure with collapsible sidebar
  .lintstagedrc.json
  docs/backlog/README.md
  docs/backlog/basic-layout-structure.md
  docs/design/accessibility.md
  docs/design/design-tokens.md
  docs/design/ui-guide.md
  docs/development/component-lifecycle.md
  package-lock.json
  package.json
  scripts/validate-inline-styles.js
  scripts/validate-transitions.js
  src/renderer/src/App.tsx
  src/renderer/src/components/CenterArea.tsx
  src/renderer/src/components/Layout.tsx
  src/renderer/src/components/LeftSidebar.tsx
  src/renderer/src/lib/icons.ts
  src/renderer/src/lib/jsx.ts
  src/renderer/src/main.css
  src/renderer/src/views/TestView.tsx
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

docs: Add React + shadcn/ui migration documentation
  docs/backlog/README.md
  docs/backlog/react-shadcn-migration.md
  docs/design/README.md
  docs/design/design-tokens.md
  docs/design/ui-guide.md
Due: none

feat: Integrate React with Vite
  .eslintrc.json
  components.json
  electron.vite.config.ts
  package-lock.json
  package.json
  scripts/validate-accessibility.js
  scripts/validate-design-tokens.js
  scripts/validate-transitions.js
  src/renderer/index.html
  src/renderer/src/App.tsx
  src/renderer/src/components/CenterArea.tsx
  src/renderer/src/components/Layout.tsx
  src/renderer/src/components/LeftSidebar.tsx
  src/renderer/src/components/TestPanel.tsx
  src/renderer/src/jsx.d.ts
  src/renderer/src/lib/jsx.ts
  src/renderer/src/lib/utils.ts
  src/renderer/src/main.css
  src/renderer/src/main.tsx
  src/renderer/src/views/TestView.tsx
  tsconfig.json
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

feat: migrate to React + shadcn/ui and implement frameless window
  .eslintrc.json
  .lintstagedrc.json
  docs/devlogs/2025-01-24-react-shadcn-migration.md
  electron.vite.config.ts
  eslint.config.cjs
  package-lock.json
  package.json
  src/main/index.ts
  src/main/ipc/llm.ts
  src/main/ipc/test.ts
  src/main/ipc/window.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/state.ts
  src/main/services/neo4j.ts
  src/main/services/ollama.ts
  src/preload/index.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/TitleBar.tsx
  src/renderer/src/components/ui/button.tsx
  src/renderer/src/types/api.d.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat: implement collapsible sidebar layout with mobile support
  docs/backlog/README.md
  docs/backlog/react-shadcn-migration.md
  docs/design/ui-guide.md
  docs/devlogs/2025-01-25-sidebar-layout-implementation.md
  docs/devlogs/README.md
  eslint.config.cjs
  package-lock.json
  package.json
  src/main/ipc/window.ts
  src/preload/index.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/AppSidebar.tsx
  src/renderer/src/components/MainHeader.tsx
  src/renderer/src/components/TitleBar.tsx
  src/renderer/src/components/ui/button.tsx
  src/renderer/src/components/ui/input.tsx
  src/renderer/src/components/ui/separator.tsx
  src/renderer/src/components/ui/sheet.tsx
  src/renderer/src/components/ui/sidebar.tsx
  src/renderer/src/components/ui/skeleton.tsx
  src/renderer/src/components/ui/tooltip.tsx
  src/renderer/src/hooks/use-mobile.tsx
  src/renderer/src/main.css
  src/renderer/src/types/api.d.ts
  tailwind.config.js
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

Add backlog item: Settings, Command Palette & Hotkeys
  docs/backlog/README.md
  docs/backlog/settings-command-palette-hotkeys.md
Due: none

chore: add Prettier with 90 character line limit and format on save
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  eslint.config.cjs
  package-lock.json
  package.json
  src/main/config/defaults.ts
  src/main/index.ts
  src/main/ipc/llm.ts
  src/main/ipc/test.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/state.ts
  src/main/services/llm/tools/builtin/echo/echo.tool.ts
  src/main/services/llm/tools/builtin/index.ts
  src/main/services/llm/tools/builtin/neo4j/count-nodes.tool.ts
  src/main/services/llm/tools/registry.ts
  src/main/services/neo4j.ts
  src/main/services/ollama.ts
  src/preload/index.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/AppSidebar.tsx
  src/renderer/src/components/MainHeader.tsx
  src/renderer/src/components/ui/button.tsx
  src/renderer/src/components/ui/input.tsx
  src/renderer/src/components/ui/separator.tsx
  src/renderer/src/components/ui/sheet.tsx
  src/renderer/src/components/ui/sidebar.tsx
  src/renderer/src/components/ui/skeleton.tsx
  src/renderer/src/components/ui/tooltip.tsx
  src/renderer/src/hooks/use-mobile.tsx
  src/renderer/src/lib/icons.ts
  src/renderer/src/lib/theme.ts
  src/renderer/src/lib/utils.ts
  src/renderer/src/main.css
  src/renderer/src/main.tsx
  src/renderer/src/types/api.d.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

feat: implement settings system with UI
  package-lock.json
  package.json
  src/main/index.ts
  src/main/ipc/settings.ts
  src/main/services/settings.ts
  src/preload/index.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/AppSidebar.tsx
  src/renderer/src/components/HomeView.tsx
  src/renderer/src/components/SettingsView.tsx
  src/renderer/src/components/ui/input.tsx
  src/renderer/src/components/ui/select.tsx
  src/renderer/src/main.css
  src/renderer/src/main.tsx
  src/renderer/src/types/api.d.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

docs: decompose chat interface into focused backlog items
  docs/backlog/README.md
  docs/backlog/archive/README.md
  docs/backlog/archive/chat-interface.md
  docs/backlog/chat-interface-mvp.md
  docs/backlog/chat-interface.md
  docs/backlog/chat-personas.md
  docs/backlog/chat-quick-launcher.md
  docs/backlog/chat-sidebar-integration.md
  docs/backlog/kbar-smart-chat-detection.md
  docs/backlog/multi-provider-model-selection.md
  docs/backlog/tool-permission-system.md
  docs/devlogs/2025-01-27-chat-interface-scoping.md
Due: none

docs: rename chat personas to custom agents with Deep Agents integration
  docs/backlog/README.md
  docs/backlog/archive/README.md
  docs/backlog/archive/chat-interface.md
  docs/backlog/chat-features-future.md
  docs/backlog/chat-interface-mvp.md
  docs/backlog/chat-personas.md
  docs/backlog/chat-quick-launcher.md
  docs/backlog/custom-agents.md
  docs/backlog/deep-agents-adoption.md
  docs/backlog/kbar-smart-chat-detection.md
  docs/backlog/multi-provider-model-selection.md
  docs/backlog/sub-agent-delegation.md
  docs/backlog/tool-permission-system.md
  docs/devlogs/2025-01-27-chat-interface-scoping.md
  docs/devlogs/2025-01-31-custom-agents-design.md
Due: none

feat: add AI integration patterns and shared type definitions
  docs/backlog/chat-interface-mvp.md
  src/main/ipc/llm.ts
  src/main/services/commands/index.ts
  src/main/services/commands/registry.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/tools/builtin/command/invoke-command.tool.ts
  src/main/services/llm/tools/builtin/index.ts
  src/main/services/llm/tools/registry.ts
  src/preload/index.ts
  src/renderer/src/types/api.d.ts
  src/shared/types/agent.ts
  src/shared/types/context.ts
  src/shared/types/index.ts
  src/shared/types/llm.ts
  tsconfig.json
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat: implement chat interface MVP with streaming and tool support
  package-lock.json
  package.json
  src/main/config/defaults.ts
  src/main/index.ts
  src/main/ipc/conversations.ts
  src/main/services/commands/registry.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/conversations.ts
  src/main/services/llm/tools/builtin/command/invoke-command.tool.ts
  src/main/services/llm/tools/builtin/index.ts
  src/preload/index.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/AppSidebar.tsx
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ConversationList.tsx
  src/renderer/src/lib/commands.ts
  src/renderer/src/types/api.d.ts
  src/shared/types/index.ts
  src/shared/types/llm.ts
  tsconfig.json
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat: add layered prompts with reload command for dev workflow
  docs/backlog/custom-agents.md
  docs/devlogs/2025-02-01-layered-prompts-dev-workflow.md
  src/main/config/defaults.ts
  src/main/config/prompts.ts
  src/main/config/prompts/base-system.md
  src/main/config/prompts/default-agent.md
  src/main/ipc/llm.ts
  src/main/services/commands/registry.ts
  src/main/services/llm/agent.ts
  src/preload/index.ts
  src/renderer/src/lib/commands.ts
  src/renderer/src/types/api.d.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat: complete Chat Interface MVP with AI Elements trace display
  docs/backlog/README.md
  docs/backlog/archive/README.md
  docs/backlog/archive/chat-interface-mvp.md
  docs/backlog/archive/chat-interface.md
  docs/backlog/chat-features-future.md
  docs/backlog/chat-quick-launcher.md
  docs/backlog/chat-sidebar-integration.md
  docs/backlog/custom-agents.md
  docs/backlog/execution-trace-persistence.md
  docs/backlog/kbar-smart-chat-detection.md
  docs/backlog/llm-tool-hallucination-guardrails.md
  docs/backlog/multi-provider-model-selection.md
  docs/backlog/tool-permission-system.md
  docs/development/README.md
  docs/development/ai-elements.md
  docs/devlogs/2025-01-31-chat-interface-mvp.md
  package-lock.json
  package.json
  src/main/services/llm/agent.ts
  src/main/services/llm/tools/builtin/command/invoke-command.tool.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ConversationList.tsx
  src/renderer/src/components/ai-elements/chain-of-thought.tsx
  src/renderer/src/components/ai-elements/tool-invocation.tsx
  src/renderer/src/components/ui/badge.tsx
  src/renderer/src/components/ui/collapsible.tsx
  src/renderer/src/components/ui/sidebar.tsx
  src/renderer/src/main.css
  src/shared/types/llm.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

docs: add permission modes (Ask, Agent, Local) and chat-level cap
  docs/backlog/chat-quick-launcher.md
  docs/backlog/configuration-system.md
  docs/backlog/custom-agents.md
  docs/backlog/tool-permission-system.md
Due: none

docs: add Chat Conversation Threads to backlog
  docs/backlog/README.md
  docs/backlog/chat-conversation-threads.md
  docs/backlog/chat-features-future.md
  docs/backlog/chat-sidebar-integration.md
  docs/backlog/sub-agent-delegation.md
Due: none

docs: add Chat Summaries and Attachments to the backlog
  docs/backlog/README.md
  docs/backlog/chat-attachments-and-context.md
  docs/backlog/chat-summaries.md
Due: none

docs: declarative tool definitions
  docs/backlog/README.md
  docs/backlog/custom-agents.md
  docs/backlog/declarative-tool-definitions.md
  docs/backlog/tool-permission-system.md
Due: none

docs: add Cursor-style chat UI and rich markdown input to the backlog
  docs/backlog/README.md
  docs/backlog/chat-rich-markdown-input.md
  docs/backlog/cursor-style-chat-ui.md
Due: none

fix: keep new conversation selected so title and editing work
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ConversationList.tsx
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(chat): rich markdown composer with plain/preview toggle and hotkey
  docs/backlog/README.md
  docs/backlog/chat-rich-markdown-input.md
  docs/backlog/custom-hotkeys-prompt-input.md
  docs/development/ui-state-persistence.md
  docs/devlogs/2026-02-16-chat-rich-markdown-input.md
  package-lock.json
  package.json
  src/main/services/settings.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/SettingsView.tsx
  src/renderer/src/components/ui/prompt-input-plaintext.tsx
  src/renderer/src/components/ui/prompt-input-rich.tsx
  src/renderer/src/components/ui/prompt-input.tsx
  src/renderer/src/lib/chat-storage.ts
  src/renderer/src/lib/hotkeys.ts
  src/renderer/src/main.css
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

feat: make sidebar toggle hotkey settings-driven (default Cmd+[)
  docs/development/commands-and-hotkeys.md
  src/main/services/settings.ts
  src/renderer/src/App.tsx
  src/renderer/src/components/SettingsView.tsx
  src/renderer/src/components/ui/sidebar.tsx
  src/renderer/src/lib/hotkeys.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(settings): move open in editor to fixed footer with file path
  src/renderer/src/App.tsx
  src/renderer/src/components/SettingsView.tsx
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(chat): resizable composer, per-conversation height, mode toggle tooltip
  docs/development/ui-state-persistence.md
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ui/prompt-input-plaintext.tsx
  src/renderer/src/components/ui/prompt-input-rich.tsx
  src/renderer/src/components/ui/prompt-input.tsx
  src/renderer/src/lib/chat-storage.ts
  src/renderer/src/lib/hotkeys.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(chat): cancel stream and restore from here
  src/main/ipc/conversations.ts
  src/main/ipc/llm.ts
  src/main/services/llm/agent.ts
  src/main/services/llm/conversations.ts
  src/preload/index.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/types/api.d.ts
  src/shared/types/llm.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

style: extend header divider to be full width
  src/renderer/src/components/ChatView.tsx
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(chat): header divider, prompt focus, Live Preview placeholder, timestamp dates
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ui/prompt-input-rich.tsx
  src/renderer/src/main.css
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

feat(tools): tool permission system phases 1-3 (definitions, factory, migrate domains)
  docs/backlog/tool-permission-system.md
  docs/development/README.md
  docs/development/adding-a-tool.md
  docs/devlogs/2026-02-16-tool-permission-system-phase-1.md
  src/main/services/llm/tools/builtin/command/handlers.ts
  src/main/services/llm/tools/builtin/command/invoke-command.tool.ts
  src/main/services/llm/tools/builtin/command/tools.ts
  src/main/services/llm/tools/builtin/echo/echo.tool.ts
  src/main/services/llm/tools/builtin/index.ts
  src/main/services/llm/tools/builtin/neo4j/count-nodes.tool.ts
  src/main/services/llm/tools/builtin/neo4j/handlers.ts
  src/main/services/llm/tools/builtin/neo4j/tools.ts
  src/main/services/llm/tools/definition-types.ts
  src/main/services/llm/tools/factory.ts
  src/main/services/llm/tools/index.ts
  src/main/services/llm/tools/registry.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(neo4j): add neo4j_run_cypher tool for agent Cypher queries
  src/main/services/llm/tools/builtin/neo4j/handlers.ts
  src/main/services/llm/tools/builtin/neo4j/tools.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(chat): trace UI, token usage, step copy, metadata; cleanup unused components
  docs/backlog/agent-streaming-llm.md
  docs/devlogs/2026-02-17-chat-trace-token-usage-and-cleanup.md
  src/main/services/llm/agent.ts
  src/main/services/llm/tools/builtin/command/tools.ts
  src/main/services/llm/tools/builtin/neo4j/tools.ts
  src/main/services/llm/tools/definition-types.ts
  src/main/services/llm/tools/factory.ts
  src/main/services/llm/tools/registry.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ai-elements/chain-of-thought.tsx
  src/renderer/src/components/ai-elements/tool-invocation.tsx
  src/renderer/src/lib/tool-icons.ts
  src/shared/types/index.ts
  src/shared/types/llm.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(llm): bounded tool results — factory cap, Neo4j at-source, opt-out
  docs/backlog/README.md
  docs/backlog/bounded-tool-results-and-chat-ui-stability.md
  docs/backlog/tool-permission-system.md
  docs/development/adding-a-tool.md
  docs/devlogs/2026-02-22-bounded-tool-results.md
  src/main/services/llm/agent.ts
  src/main/services/llm/content-guardrails.ts
  src/main/services/llm/tools/builtin/neo4j/handlers.ts
  src/main/services/llm/tools/definition-types.ts
  src/main/services/llm/tools/factory.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ai-elements/tool-invocation.tsx
  src/shared/types/llm.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

refactor(chat): single block builder, normalize reload blocks, document stream data flow
  docs/backlog/README.md
  docs/backlog/archive/README.md
  docs/backlog/archive/chat-history-load-single-row-and-thinking.md
  docs/development/README.md
  docs/development/chat-streaming-and-blocks.md
  docs/devlogs/2026-02-23-chat-thinking-and-tool-spew-fixes.md
  src/main/services/llm/agent.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/lib/chat-blocks.ts
  src/renderer/src/lib/tool-icons.ts
  src/renderer/src/types/api.d.ts
  src/shared/lib/chat-blocks.ts
  src/shared/types/index.ts
  src/shared/types/llm.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'

feat(agents): mode storage, Agents tab UI, and permission modes (Phases 4–6)
  docs/backlog/tool-permission-system.md
  docs/devlogs/2026-02-23-tool-permission-modes-ui-and-shared-config.md
  src/main/index.ts
  src/main/ipc/conversations.ts
  src/main/ipc/modes.ts
  src/main/services/llm/conversations.ts
  src/main/services/modes/builtins.ts
  src/main/services/modes/index.ts
  src/main/services/modes/registry.ts
  src/main/services/modes/types.ts
  src/main/services/settings.ts
  src/preload/index.ts
  src/renderer/src/components/ChatView.tsx
  src/renderer/src/components/ModeSelector.tsx
  src/renderer/src/components/SettingsExpandableCard.tsx
  src/renderer/src/components/SettingsView.tsx
  src/renderer/src/main.css
  src/renderer/src/types/api.d.ts
  src/shared/types/index.ts
  src/shared/types/llm.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, stylelint --fix, bash -c 'npm run type-check'

feat(help): in-app user docs with sidebar, scroll spy, and persistence
  docs/README.md
  docs/VISION.md
  docs/development/README.md
  docs/development/guardrails.md
  docs/development/ui-state-persistence.md
  docs/development/user-docs.md
  docs/user/concepts.md
  docs/user/getting-started.md
  docs/user/vision.md
  electron.vite.config.ts
  package.json
  scripts/build-user-docs.js
  src/renderer/src/App.tsx
  src/renderer/src/components/AppSidebar.tsx
  src/renderer/src/components/DocTooltip.tsx
  src/renderer/src/components/HelpView.tsx
  src/renderer/src/components/MainHeader.tsx
  src/renderer/src/lib/commands.ts
  src/renderer/src/lib/layout-storage.ts
  src/renderer/src/lib/user-docs.generated.ts
  src/renderer/src/lib/user-docs.ts
  src/renderer/src/lib/utils.ts
Due: node scripts/validate-design-tokens.js, node scripts/validate-accessibility.js, bash -c 'npm run type-check'
